img {
    border-radius: 5px;
}

/* 顶部信息栏修饰 */
.top {
    position: sticky;
    top: 0;
}

.choose {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0.625rem 1.25rem;
    font-weight: bold;
}

.choose .top-left span:nth-child(2) {
    margin-left: 0.125rem;
}

.choose .top-center {
    background: rgb(224, 224, 224);
    border: .125rem solid rgb(224, 224, 224);
    border-radius: 5px;
}

.choose .top-center a {
    display: inline-block;
    width: 3.25rem;
    height: 1.3rem;
    border-radius: 5px;
    text-align: center;
    line-height: 1.3rem;
}

.choose .top-center a:nth-child(1) {
    background-color: white;
}

.choose .top-center a:nth-child(2) {
    color: rgb(128, 128, 128);
}

.choose .top-right span:nth-child(1) {
    display: inline-block;
    margin-right: .625rem;
}

/* 影视同期修饰 */
.box {
    background: rgb(245, 245, 245);
    overflow: hidden;
}

.free {
    width: 94%;
    margin: .625rem auto;
    padding: 0.625rem;
    background: white;
    border-radius: 10px;
    box-sizing: border-box;
}

.free-title {
    margin: .625rem 0;
    display: flex;
    justify-content: space-between;
}

.free-title .free-title-left {
    display: flex;
    align-items: center;
}

.free-title .free-title-left span {
    margin-left: .625rem;
    color: rgb(159, 164, 171);
    background: rgb(245, 245, 245);
    padding: 0.2rem;
}

.free-book {
    display: flex;
    margin-top: 1rem;
    height: 10rem;
    overflow: auto;
}

.free-book::-webkit-scrollbar {
    display: none
}

.free-book div {
    width: 4.125rem;
    margin-left: .625rem;
}

.free-book div:nth-child(1) {
    margin-left: 0;
}

.free-book img {
    height: 5.5rem;
}

.free-book div p:nth-child(2) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.free-book div p:nth-child(3) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #969ba3;
}

/* 经典必读和大神完本修饰 */
.newbook {
    width: 94%;
    margin: .625rem auto;
    padding: 0.625rem;
    background: white;
    border-radius: 10px;
    box-sizing: border-box;
}

.newbook-title {
    margin: .625rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newbook-title .newbook-left {
    display: flex;
    justify-content: left;
    align-items: center;
}

.newbook-title p {
    color: rgb(159, 164, 171);
}

.newbook-list {
    height: 6rem;
    display: flex;
    justify-content: space-between;
}

.newbook-list img {
    height: 5.5rem;
}

.newbook-list>div {
    margin: 0 .625rem;
}

.newbook-list div p:nth-child(2) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: rgb(159, 164, 171);
    margin-top: .375rem;
}

.newbook-list .newbook-list-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: .125rem;
}

.newbook-list .newbook-list-bottom p {
    color: rgb(159, 164, 171);
}

.newbook-list-bottom div span {
    color: rgb(159, 164, 171);
    background: rgb(245, 245, 245);
    font-size: .625rem;
    padding: 0.2rem;
}

.newbook .newbook-list1,
.newbook .newbook-list2 {
    margin: 1rem 0;
    border-bottom: 1px solid rgb(240, 241, 242);
}

/* 登录部分修饰 */
.enter {
    background: rgb(245, 245, 245);
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.enter a {
    color: rgb(90, 142, 237);
}

/* 底部帮助和备案修饰 */
.bottom-info {
    background: rgb(245, 245, 245);
    text-align: center;
    color: rgb(150, 155, 163);
    padding-bottom: 4rem;
}

.bottom-info .bottom-info1 {
    padding: 1rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bottom-info .bottom-info1 img {
    width: 1rem;
    margin-right: 0.5rem;
}

.bottom-info .bottom-info2 {
    height: 2.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bottom-info .bottom-info2 a:nth-child(2) {
    color: black;
}

.bottom-info p {
    margin: .125rem 0;
    font-size: .75rem;
}

/* 底部下载按钮修饰 */
.bottom-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.625rem 1.25rem;
    box-shadow: .125rem 0 1.125rem -0.1rem gray;
    box-sizing: border-box;
    background-color: white;
    width: 100%;
}

.bottom-fixed a {
    background-color: rgb(2250, 55, 67);
    color: white;
    width: 20.75rem;
    padding: 0.325rem 0;
    text-align: center;
    border-radius: 1.25rem;
}