@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1679383273048') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-zhanghu:before {
  content: "\e62b";
}

.icon-wp-sj-3:before {
  content: "\e71f";
}

.icon-huanyipi:before {
  content: "\e648";
}

